body {
    background-color: #FFF3D3;
}

.img-fundo {
    margin: 0;

}

.btn-warning {
    border-radius: 50px;
    font-size: 30px;
    width: 200px;
    height: 80px;
    color: white;
    position: absolute;
   
    
}



.menu {
    background-color: white;
    height: 200px;
    padding: 20px 600px 20px 600px;
    
}


.comidas {
  display: flex;
  justify-content: space-between;
  
}

.sashimi img {
    width: 10rem;
    
}

.sushi img {
    width: 10rem;
}

.temaki img {
    width: 10rem;
}
hr{
    background-color: red;
}

.cards {
    background-color: #FFF3D3;
    padding: 40px 130px 40px 130px;

}

.cards-superior {

    display: flex;
    justify-content: space-between;

}
.text-card{
    text-align: center;
    justify-content: space-between;
}

.card-01 {
    width: 460px;
    height: 352px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 40px;
    display: flex;
    padding: 0px 50px 0px 50px;
    justify-content: space-between;
    align-items: center;

}

.card-02 {
    width: 460px;
    height: 352px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 40px;

}

.card-03 {
    width: 460px;
    height: 352px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 40px;

}

.cards-inferior {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 100px 0px;
}

.card-04 {
    width: 750px;
    height: 352px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 40px;
    display: flex;
    padding: 0px 80px 0px 50px;
    justify-content: space-between;
    align-items: center;

}

.card-05 {
    width: 750px;
    height: 352px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 40px;

}

.part-celular {
    background-color: #FFAA2C;
    display: flex;
    margin-top: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card-celular{
    width: 25rem;
    position: absolute;
    z-index: 2;
    margin-left: 15%;
}

.direita{
    margin: 3%;
    margin-left: 50%;
}

.instal {
    display: flex;
    justify-content: space-between;
}

.app-store {
    width: 150px;
    height: 50px;
    background-color: #000000;
    border-radius: 30px;
}

.google-pay {
    width: 150px;
    height: 50px;
    background-color: #000000;
    border-radius: 30px;
}

.video {
    display: flex;
    background-color: #FFF3D3;

}

.cards1 {
    background-color: #FFF3D3;
    padding: 200px 100px 20px 100px;


}

.cards-superior1 {

    display: flex;
    justify-content: space-between;

}

.card-011 {
    width: 200px;
    height: 280px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;

}

.card-021 {
    width: 200px;
    height: 280px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;

}

.card-031 {
    width: 200px;
    height: 280px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;

}

.cards-inferior1 {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px 0px;

}

.card-041 {
    width: 400px;
    height: 200px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;


}

.card-051 {
    width: 400px;
    height: 200px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;
}

.youtube {
    display: flex;
    justify-content: center;
    background-color: #FFF3D3;
    padding: 200px 0px 150px 0px ;
}